/** Memory client stylings. */

body {
  font-family: Helvetica, Arial, sans-serif;
}

.iconButton {
  margin-right: 3px;
  cursor: pointer;
  display: inline;
  position: relative;
  top: 1px;
}

.rightIconButton {
  margin-left: 5px;
  cursor: pointer;
  display: inline;
  float: right;
  position: relative;
  top: 1px;
}

.dragIcon {
  vertical-align: middle;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.textCenter {
  text-align: center;
}

.blockCenter {
  margin-left: auto;
  margin-right: auto;
}

.popup {
  background: #FFFFFF;
  border: 1px solid;
  margin: 5px;
}

.navigationLink {
  text-decoration: none;
  display: inline;
}

.title {
  display: inline;
}

.editor {
  border: 1px solid;
  /* max-width: 480px; */
}

.editorBox {
  padding: 5px;
}

.editorTitle {
  border-top: 1px solid;
  margin-top: 5px;
}

.editorSelfLink {
  text-decoration: none;
  display: inline;
  float: right;
  padding-right: 5px;
  font-size: 14px;
}

.editorLabel {
  width: 45px;
}

.editorUpdateButton {
  margin-left: 47px;
}

.editorChildItem {
  border-bottom: 1px solid #CCCCCC;
  width: 348px;
}

.view {
}

.pageTitle {
  font-size: large;
  border-bottom: 1px solid;
}

.pageDatum {
  margin: 5px 0px;
}

.textTitle {
  font-weight: bold;
  border-bottom: 1px dashed;
}

.listItem {
  margin-left: 20px;
  display: list-item;
}

.width98 {
  width: 98%;
}

.width99 {
  width: 98%;
}

.width100 {
  width: 100%;
}

.stretchBox {
  white-space: nowrap;
}

.mediaBox {
  display: inline;
  padding-right: 10px;
}

.noitems {
  color: #666666;
}

.columnCont {
  width: 100%;
  overflow: hidden;
}

.column {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}

.column12 {
  width: 49.5%;
  padding-right: 1%;
}
.column22 {
  width: 49.5%;
}

.column13 {
  width: 33%;
  padding-right: 0.5%;
}
.column23 {
  width: 33%;
  padding-right: 0.5%;
}
.column33 {
  width: 33%;
}

.nonExistNote {
  margin: 10px 0px;
}

.tip {
  font-size: small;
  max-width: 340px;
}

.wiki pre {
 max-width: 100%;
 overflow: auto;
 border-top: 1px dashed #E0E0E0;
 border-bottom: 1px dashed #E0E0E0;
 padding: 5px 0px;
 margin: 5px 0px;
}

.wiki p {
  margin: 5px 0px;
}

.wiki h1, h2, h3, h4, h5 {
  margin: 0.75em 0px;
}

.wiki h2 {
  border-top: 4px solid #E0E0E0;
  font-size: 150%;
  margin-top: 1em;
  padding-top: 0.25em;
}

.wiki h2:first-child {
  border-top: none;
  margin-top: 0.75px;
  padding-top: 0px;
}

.wiki h3 {
  border-bottom: 1px solid #E0E0E0;
}

.wiki ul, .wiki ol {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wiki table {
  border-collapse: collapse;
}

.wiki table td, .wiki table th {
  border: 1px solid;
  padding: 0px 3px;
}

.wiki blockquote {
  margin-left: 5px 0px 5px 10px;
  padding: 5px;
  background: #EEEEEE;
}

.wikiHelp {
  padding: 5px;
  max-width: 600px;
}

.wikiExample {
  white-space: pre;
  font-family: monospace;
}

.wikiHelp>table td {
  border-top: 1px dashed;
}

.wikiHelp p {
  margin: 0px;
}

.wikiHelpLabel {
  margin-right: 25px;
}
