/** Memory client stylings. */

body {
  font-family: Helvetica, Arial, sans-serif;
}

pre {
 max-width: 100%;
 overflow: auto;
 border-top: 1px solid;
 border-bottom: 1px solid;
 padding: 5px 0px;
 margin: 5px 0px;
}

p {
  margin: 5px 0px;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cornerButton {
  margin: 2px 2px 0px 0px;
  cursor: pointer;
  display: inline;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.popup {
  background: #FFFFFF;
  border: 1px solid;
  margin: 5px;
}

.navigationLink {
  text-decoration: none;
  display: inline;
}

.title {
  display: inline;
}

.editor {
  border: 1px solid;
  /* max-width: 480px; */
}

.editorTitle {
  border-top: 1px solid;
  margin-top: 5px;
}

.view {
}

.pageTitle {
  font-size: large;
  border-bottom: 1px solid;
}

.pageDatum {
  margin: 5px 0px;
}

.textTitle {
  font-weight: bold;
  border-bottom: 1px dashed;
}

.listItem {
  margin-left: 20px;
  display: list-item;
}

.width98 {
  width: 98%;
}

.width99 {
  width: 98%;
}

.width100 {
  width: 100%;
}

.insetBox {
  padding: 5px;
}

.columnCont {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}

.column {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
  overflow: hidden;
}

.column12 {
  width: 49%;
  left: 0%;
}
.column22 {
  width: 49%;
  left: 2%;
}

.column13 {
  width: 33%;
  left: 0%;
}
.column23 {
  width: 33%;
  left: 2%;
}
.column33 {
  width: 33%;
  left: 2%;
}

.nonExistNote {
  margin: 10px 0px;
}
